<div class="main">

  <div id="lot-info">
    <h3 id="title">{{ auction?.title }}</h3>

    <hr>

    <h5>Beskrivelse</h5>
    <p>{{ auction?.description }}</p>

    <hr>

    <h5>Auktionen slutter</h5>
    <p>{{ auction?.endDate | date:'h:mm - MMM d'}}</p>

    @if (loginService.isAdmin()) {
      <a [routerLink]="['/create-lot', auction.id]">
        <button type="button" class="btn btn-primary">Opret Lot</button>
      </a>
    }
  </div>


<div class="cards">
  @for (lot of apiService.lots(); track lot.lotNumber) {
    <div class="card" style="width: 18rem;">
      <img
        [src]="lot.images?.[0]?.url || 'https://thumbs.dreamstime.com/b/minimalist-logo-features-brown-outline-gavel-sound-block-symbolizing-justice-auctions-below-placeholder-text-lorem-401168018.jpg'"
        class="card-img-top"
        alt="{{ lot.title }}"
      >
      <div class="card-body">
        <h5 class="card-title">{{ lot.title }}</h5>
        <p class="card-text">Lot nr. {{ lot.lotNumber }}</p>
        <a [routerLink]="['/auctions', auction?.id, 'lot', lot.lotNumber]" class="btn btn-primary">Gå til lot</a>
      </div>
    </div>
  }
</div>
