<div>
  <div id="lot-info">

    @if (loginService.isAdmin()) {
      <a [routerLink]="['/create-lot', auction.id]">
        <button type="button" class="btn btn-primary">Create Lot</button>
      </a>

    }

    <h3 id="title">{{ auction?.title }}</h3>

    <hr>

    <h5>Beskrivelse</h5>
    <p>{{ auction?.description }}</p>

    <hr>

    <h5>Auktionen slutter</h5>
    <p>{{ auction?.endDate }}</p>
  </div>
</div>

<div class="cards">
  @for (lot of apiService.lots(); track lot.lotNumber) {
    <div class="card" style="width: 18rem;">
      <img src="https://images.ctfassets.net/yb682zl7v5ka/2957544974423012041/35ee7f891e411630a2885e738657181d/maxi1.png?w=1200&h=1047&fm=webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ lot.title }}</h5>
        <p class="card-text">{{ lot.lotNumber }}</p>
        <a [routerLink]="['/auctions', auction?.id, 'lot', lot.lotNumber]" class="btn btn-primary">Go To Lot</a>
      </div>
    </div>
  }
</div>
