.main {

}

.bid {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  background-color: #E6E7E9;
  border-radius: 10px;
}

.bid p {
  margin: 0; /* remove default <p> margin */
}
