.main {
  padding: 5%;
  width: 100%;
  height: 100%;
}

.data {
  background: #fff;
  display: flex;
  flex-direction: row;
}

.images {
  width: 100%;
}

.info {
  width: 100%;
  padding: 5%;
}

p {
  white-space: pre-line;
}
