<div class="main">

  <h1>{{ lot?.title }}</h1>

  <div class="data">
    <div class="images">

      @if (lot?.images?.length) {

        <!-- MAIN IMAGE -->
        <div class="main-image">
          <img
            [src]="selectedImage || lot!.images![0].url"
            class="big-img"
            alt="Main image">
        </div>

        <!-- THUMBNAILS -->
        <div class="thumbnails">
          @for (img of lot!.images!; track img.id) {
            <img
              [src]="img.url"
              class="thumb"
              [class.active]="img.url === selectedImage"
              (click)="selectImage(img.url)"
              alt="Thumbnail">
          }
        </div>

      } @else {
        <p>Ingen billeder for dette lot endnu.</p>
      }

    </div>


    <div class="info">
      <div class="meta">
        <h4> Lot nr. {{ lot?.lotNumber }}</h4>
        <hr>
        <p>{{ lot?.description }}</p>
      </div>

      <hr>

      @if (lot) {
        <div class="bidding">

          <div class="bid">
            <label for="amount">Amount:</label>
            <input
              [(ngModel)]="bidAmount"
              [value]="highestBid"
              type="number"
              id="amount"
              name="amount"
              min="highestBid">
            <button (click)="bidOnLot()">Byd!</button>
          </div>

          <app-bid-overview [lot]="lot"></app-bid-overview>
        </div>
      }
    </div>
  </div>
</div>
