<div class="main">

  <h1>{{ lot?.title }}</h1>

  <div class="data">

    <div class="images">

      @if (lot?.images?.length) {

        <!-- MAIN IMAGE -->
        <div class="main-image">
          <img
            [src]="selectedImage || lot!.images![0].url"
            class="big-img"
            alt="Main image">
        </div>

        <!-- THUMBNAILS -->
        <div class="thumbnails">
          @for (img of lot!.images!; track img.id) {
            <img
              [src]="img.url"
              class="thumb"
              [class.active]="img.url === selectedImage"
              (click)="selectImage(img.url)"
              alt="Thumbnail">
          }
        </div>

      } @else {
        <p>Ingen billeder for dette lot endnu.</p>
      }

    </div>


    <div class="info">
      <div class="meta">
        <h4> Lot nr. {{ lot?.lotNumber }}</h4>
        <hr>
        <h4>Beskrivelse</h4>
        <p>{{ lot?.description }}</p>
      </div>

      <hr>

      <h5>Start pris: {{ lot?.startingPrice }}</h5>
      <h5>Vurderet til: {{ lot?.estimatedPrice }}</h5>
      @if (lot?.isClosed) {
      <h5>Auktionen er slut tillykke til: {{winner}}</h5>
      }
      <hr>

      @if (lot && !lot.isClosed) {
        <div class="bidding">

          @if (lot?.endTime && countdown) {
            <div class="countdown">
              <h4>Tilbageværende tid:</h4>
              <h5>{{ countdown }}</h5>
            </div>
          }

          @if (highestBid) {
            <h4>Højeste bud: {{ highestBid }}</h4>
            <p>inkl. moms og salær: {{ highestBid * 1.5}} kr.</p>
          }

          <div class="bid">
            <label for="amount"></label>
            <input
              [(ngModel)]="bidAmount"
              [min]="minBid"
              [value]="minBid"
              type="number"
              id="amount"
              name="amount">

            <button class="btn btn-secondary" (click)="bidOnLot()">Byd!</button>
          </div>

          <app-bid-overview [lot]="lot"></app-bid-overview>
        </div>
      }
    </div>
  </div>
</div>
