<div class="sidenav">

  @if (loginService.isAdmin()) {
    <button type="button" class="btn btn-primary" routerLink="/create-auction">Create Auction</button>
  }

  @if (!loginService.isLoggedIn()) {
    <button type="button" class="btn btn-primary" routerLink="/register">Opret Bruger</button>
    <button type="button" class="btn btn-primary" routerLink="/login">Log ind</button>
  }

  @if (loginService.isLoggedIn()) {
    <button type="button" class="btn btn-primary" [routerLink]="['/users', loginService.getUserId(), 'won-lots']">Mine lots</button>
    <button type="button" (click)="logOut()" class="btn btn-primary">Log ud</button>
  }
</div>
